

$font-size-title: 22px;
$font-size-subtitle: 17px;

$font-weight-light: 300;
$font-weight-normal: 600;
$font-weight-bold: 800;


.wrapper {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  min-height: 100vh;

  &__box {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;

    .btn {
      padding: 78px 80px 80px 80px;

      button:focus {
        outline: none;
      }

      .back {
        cursor: pointer;
        padding: 12px 38px 11px 32px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: $font-weight-light;

        .arrow {
          vertical-align: middle;
          width: 15px;
          height: 15px;
          margin-right: 16px;
          background-image: url('./back.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }

    .content {
      padding: 0 80px 80px 80px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 30px;
      grid-column-gap: 76px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
      &__box {
        
        .content {
          padding: 0 80px 80px 80px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-row-gap: 30px;
          grid-column-gap: 76px;
        }
      }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
      &__box {

        .btn {
          padding: 82px 50px 114px 50px;

          .back {
            padding: 17px 70px 18px 50px;
            font-size: 24px;

            .arrow {
              width: 22px;
              height: 19px;
            }
          }
        }
        
        .content {
          padding: 80px 50px 80px 50px;
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 75px;
          grid-column-gap: 75px;
        }
      }
  }
}
